version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.16.3
      - image: circleci/mysql:8.0.4
        environment:
          MYSQL_DATABASE: ac_twitter_workspace_test
          MYSQL_ROOT_PASSWORD: 12345678
          DATABASE_HOST: 127.0.0.1
          DARABASE_PORT: 3306
    steps:
      # Init
      - checkout
      - run:
          name: Update npm
          command: 'sudo npm install -g npm@latest'
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      
      - run: sudo apt-get install mysql-client

      - run: NODE_ENV=test node_modules/.bin/sequelize db:migrate

      - run: npm test